# tgauth config
tgauth.endpoint = http://host.docker.internal/1.0/tgauth/tgextra.php

# sesame config
sesame.endpoint = http://triplestore:8080/openrdf-sesame/repositories/textgrid-nonpublic
sesame.federatedEndpoint = http://triplestore:8080/openrdf-sesame/repositories/textgrid-nonpublic

# elastic search config
# TODO: can we add 2 urls - searchindex-main and searchindex-workhorse?
elasticSearch.url = searchindex-main
elasticSearch.ports = 9200
<% if scope.lookupvar('dhrep::services::intern::elasticsearch::one_node_cluster') -%>
#elasticSearch.ports = <%= @config['elasticsearch']['main_http_port'] %>
<% else -%>
#elasticSearch.ports = <%= @config['elasticsearch']['main_http_port'] %>,<%= @config['elasticsearch']['workhorse_http_port'] %>
<% end -%>
elasticSearch.index = textgrid-nonpublic
elasticSearch.publicIndex = textgrid-public
elasticSearch.type = metadata
elasticSearch.itemLimit = 3000
