###
# #%L
# DARIAH-DE CRUD Service Configuration
# %%
# Copyright (C) 2017 DARIAH-DE Consortium (https://de.dariah.eu),
# SUB Göttingen (http://www.sub.uni-goettingen.de)
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Lesser Public License for more details.
#
# You should have received a copy of the GNU General Lesser Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/lgpl-3.0.html>.
# #L%
###

# Special TG-crud feature: Directly publish objects created with #CREATE.
# Used for the second (public) TG-crud instance used by TG-publish (and DARIAH).
DIRECTLY_PUBLISH_WITH_CREATE = TRUE

# The TextGrid metadata namespace TG-crud is working with (mandatory).
METADATA_NAMESPACE = http://textgrid.info/namespaces/metadata/core/2010

# The path to the log4j config file (mandatory).
LOG4J_CONFIGFILE = /etc/dhrep/dhcrud/<%= @log_config_file %>

# The Handle resolver URL (resolving only!).
PID_RESOLVER = <%= @pid_resolver %>
PID_PREFIX = <%= @pid_prefix %>
# The DOI resolver URL (resolving only!).
DOI_RESOLVER = <%= @doi_resolver %>
DOI_PREFIX = <%= @doi_prefix %>
DOI_API_LOCATION = <%= @doi_api_location %>
# The OAI-PMH host location.
OAIPMH_LOCATION = <%= @oaipmh_location %>
# The ORCID resolver URL.
ORCID_RESOLVER = <%= @orcid_resolver %>
# The GND resolver URL.
GND_RESOLVER = <%= @gnd_resolver %>
# The DC-crud location for PID metadata.
CRUD_LOCATION = <%= @location %>
# Location of the PUBLIKATOR used (for landing page only).
PUBLIKATOR_LOCATION = <%= @publikator_location %>
# Location of the repository's documentation.
DOCUMENTATION_LOCATION = <%= @link_to_documentation %>
# Location of the repository's API documentation.
API_DOCUMENTATION_LOCATION = <%= @link_to_apidoc %>
# Name and mail of contact used on index and landing page.
NAME_OF_CONTACT = <%= @name_of_contact %>
MAIL_OF_CONTACT = <%= @mail_of_contact %>
# The location of the repository's FAQ.
FAQ_LOCATION = <%= @link_to_faq %>
# Link to DataCite DOI metadata.
DATACITE_LOCATION = <%= @datacite_location %>
# Link to Digilib service, IIIF Manifest, TIFY, and Mirador
DIGILIB_LOCATION = <%= @digilib_location %>
MANIFEST_LOCATION = <%= @manifest_location %>
MIRADOR_LOCATION = <%= @mirador_location %>
TIFY_LOCATION = <%= @tify_location %>
# Language Resource Switchboard location
SWITCHBOARD_LOCATION = <%= @switchboard_location %>
# URLs for footer in index and landing pages.
IMPRINT_URL = <%= @imprint_url %>
PRIVACY_POLICY_URL = <%= @privpol_url %>
CONTACT_URL = <%= @contact_url %>
# Data (#retrieve) is streamed if size is larger than this.
STREAMING_SIZE = <%= @streaming_size %>
# Badge text  and menu header color for landing and index pages, if not default.
MENU_HEADER_COLOR = <%= @menu_header_color %>
BADGE_TEXT = <%= @badge_text %>

# The ID implementation to use for identifier creation.
ID_IMPLEMENTATION = <%= @id_implementation %>
# The security implementation (AAI) to use for authentification and authorization.
AAI_IMPLEMENTATION = <%= @aai_implementation %>
# GRID storage implementation class.
DATA_STORAGE_IMPLEMENTATION = <%= @data_storage_implementation %>
# XMLDB storage implementation class.
IDXDB_STORAGE_IMPLEMENTATION = <%= @idxdb_storage_implementation %>
# RDFDB storage implementation class.
RDFDB_STORAGE_IMPLEMENTATION = <%= @rdfdb_storage_implementation %>

# The default encoding of all used XML operations (default: UTF-8).
DEFAULT_ENCODING = UTF-8

# The path, all files will be stored to, including the protocol to use. Only
# "gsiftp://" and "file://" (textgrid)), and "https://" (dariah) are supported
# at the moment (mandatory).
DEFAULT_DATA_STORAGE_URI = <%= @storage_host %>
DEFAULT_DATA_STORAGE_URI_PUBLIC = <%= @storage_host_public %>

# Which DATA STORAGE authentication shall be used (e.g. JavaGAT)? Allowed is one
# of MYPROXY, PROXY, CERT, SLC or NONE. The needed values have to be set
# accordingly (mandatory).
DATA_STORAGE_AUTHENTICATION = NONE

# The stream buffer size, that shall be used for stream reading and writing.
# (default: 4096).
STREAM_BUFFER_SIZE = 8192
# The prefix of the URI created for TextGrid objects (mandatory).
URI_PREFIX = textgrid
# The suffix for the TextGrid metadata files stored TO THE GRID (mandatory).
METADATA_FILE_SUFFIX = .meta
# The suffix for the TextGrid rollback temporary files (mandatory).
ROLLBACK_FILE_SUFFIX = .rollback
# Shall the baseline encoded objects be validated by the AdaptorManager?
# (default: FALSE).
VALIDATE_BASELINE = FALSE

# The URI of the Tgextra service endpopint (mandatory).
AAI_SERVICE_URL = http://host.docker.internal:8080/tgauth/tgextra.php
AAI_CRUD_SERVICE_URL = http://host.docker.internal:8080/tgauth/tgextra-crud.php
AAI_SPECIAL_SECRET = *
AAI_CLIENT_STUB_TIMEOUT = 45000

# The RDF database namespace (mandatory).
RDFDB_NAMESPACE = http://textgrid.info/relation-ns
RDFDB_SERVICE_URL = *
RDFDB_USER = *
RDFDB_PASS = *
RDFDB_SERVICE_URL_PUBLIC = *
RDFDB_USER_PUBLIC = *
RDFDB_PASS_PUBLIC = *
SPARQL_NAMESPACE = http://www.w3.org/2005/sparql-results

# The Index DB namespapce, if XML.
IDXDB_NAMESPACE = urn:elasticsearch
IDXDB_SERVICE_URL = http://searchindex-main:9200/dariah-public/metadata
IDXDB_SERVICE_PORT_LIST = 9200
IDXDB_USER = *
IDXDB_PASS = *
IDXDB_SERVICE_URL_PUBLIC = *
IDXDB_USER_PUBLIC = *
IDXDB_PASS_PUBLIC = *
IDXDB_PAIRTREE_USAGE = FALSE

# The URI settings.
ID_SERVICE_URL = http://pid:8080/pid
ID_SERVICE_USER = *
ID_SERVICE_PASS = <%= @pid_secret %>
ID_AUTOMAGIC_UNLOCKING_TIME = 1800000

# Password for the #MOVEPUBLIC method.
PUBLISH_SECRET = *

# Settings for the message producer.
USE_MESSAGING = <%= @use_messaging %>
# OLD SETTINGS! (prod and test)
INITIAL_MESSAGING_CONTEXT_FACTORY = org.jboss.naming.remote.client.InitialContextFactory
MESSAGING_PROVIDER_URL = http-remoting://wildfly:18080
MESSAGING_SECURITY_PRINCIPAL = tgcrud
MESSAGING_SECURITY_CREDENTIALS = secret
# NEW SETTINGS! (dev)
MESSAGING_SERVICE_URL = <%= @messaging_url %>
MESSAGING_EVENT_NAME = dhcrud-events
MESSAGING_USER = <%= @messaging_user %>
MESSAGING_PASS = <%= @messaging_password %>

# Settings for technical metadata extraction via FITS.
EXTRACT_TECHMD = <%= @extract_techmd %>
FITS_LOCATION = http://fits:8080/fits/
FITS_CLIENT_TIMEOUT = <%= @fits_client_timeout %>
