###
# rewrite logging
###
#error_log /var/log/nginx/error.log notice;
#rewrite_log on;

###
# top level domain proxy (search)
# NOTE redirect requests for / permanently to /search (default.conf) and then proxy the /search
#      path to dfatest/search
###
location /search/ {
    proxy_pass <%= scope.lookupvar('dhrep::nginx::proxyconf_proxypath_dhrep_search') %>;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    <%= scope.lookupvar('dhrep::nginx::proxyconf_proxy_set_host_header') %>
}

###
# colreg
###
location /colreg-ui/ {
    proxy_pass <%= scope.lookupvar('dhrep::nginx::proxyconf_proxypath_dhrep_colreg') %>;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    <%= scope.lookupvar('dhrep::nginx::proxyconf_proxy_set_host_header') %>
}

###
# oaipmh
###
location /1.0/oaipmh {
    proxy_pass http://localhost:<%= @config['tomcat_oaipmh']['http_port'] %>/oaipmh;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

###
# dhcrud
###
location /1.0/dhcrud {
    gzip on;
    gzip_types multipart/related application/xop+xml text/xml;
    client_max_body_size 5000m;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_pass http://localhost:<%= @tomcat_crud_http_port %>/dhcrud-public;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    # Workaround for CXF not setting GZIP content-length correctly.
    proxy_set_header Accept-Encoding "";
}

###
# dhpublish
###
location /1.0/dhpublish {
    proxy_pass http://localhost:<%= @config['tomcat_publish']['http_port'] %>/dhpublish;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

###
# publikator
###
location /publikator {
    gzip on;
    gzip_types multipart/related application/xop+xml text/xml;
    client_max_body_size 5000m;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_pass http://localhost:<%= @tomcat_publikator_http_port %>/publikator;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
    # Workaround for CXF not setting GZIP content-length correctly.
    proxy_set_header Accept-Encoding "";
}

###
# shibboleth
###
location /Shibboleth.sso {
    proxy_pass http://127.0.0.1:8080/Shibboleth.sso;
}

###
# pid
###
# ONLY ACCESSED FROM INTERNAL!!
#location /1.0/pid {
#    proxy_pass http://localhost:<%= scope.lookupvar('dhrep::services::tomcat_pid::http_port') %>/dhpid;
#    proxy_set_header        X-Real-IP $remote_addr;
#    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header        Host $http_host;
#}

###
# fits
###
# ONLY ACCESSED FROM INTERNAL!!
#location /fits {
#    proxy_pass http://localhost:<%= scope.lookupvar('dhrep::services::tomcat_fits::http_port') %>/fits;
#    proxy_set_header        X-Real-IP $remote_addr;
#    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header        Host $http_host;
#}

###
# digilib und co
###
location /1.0/digilib {
    proxy_pass http://digilib_balancer/digilibservice;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/digilib/rest/IIIF {
    # the cached resource has the CORS header only if the Origin-header was
    # present in the request which went into cache so here we set the CORS
    # header always, and ignore the upstream entry, all the other CORS related
    # stuff (preflight, etc) should still be handled by upstream cxf service.
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Origin *;
    # Nginx MUST NOT decode the %2F in the Handle!
    rewrite  ^  $request_uri;
    rewrite  ^/1.0/digilib/rest/IIIF(/.*)  /digilibservice/rest/IIIF$1  break;
    return 400;
    proxy_pass  http://digilib_balancer;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
    proxy_cache digilib_iiif;
    proxy_cache_valid 60d;
    proxy_ignore_headers Cache-Control;
}
location /1.0/digilib/rest/digilib {
    # Nginx MUST NOT decode the %2F in the Handle!
    # No! We can do it via REST @Path("/{uri: .+}") configuration!
    # TODO Check if we can use this for IIIF API, too!
#    rewrite  ^  $request_uri;
#    rewrite  ^/1.0/digilib/rest/digilib(/.*)  /digilibservice/rest/digilib$1  break;
#    return 400;
    proxy_pass http://digilib_balancer/digilibservice/rest/digilib;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
    proxy_cache digilib_digilib;
    proxy_cache_valid 60d;
    proxy_ignore_headers Cache-Control;
}
location /1.0/iiif/manifests {
    gzip on;
    gzip_types text/plain application/json;
    # Nginx MUST NOT decode the %2F in the Handle!
    #
    # TODO: ADD TO OTHER DIGILIB LOCATIONS!
    #
    rewrite  ^  $request_uri;
    rewrite  ^/1.0/iiif/manifests(/.*)  /iiifmd$1  break;
    return 400;
    proxy_pass http://127.0.0.1:<%= @config['iiifmd']['http_port'] %>/iiifmd;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
