#!/bin/bash

###
# are you really really sure?
###
SURETEXT="YES-DESTROY-EVERYTHING-I-AM-VERY-SURE-ABOUT-IT"

if [[ "$@" != $SURETEXT ]]; then
  echo -e "\nThis script deletes LDAP, sesame and elasticsearch database!"
  echo -e "It may be used for initial database setup."
  echo -e "If you KNOW WHAT YOU'RE DOING and if you REALLY WANT IT, enter:"
  echo -e "\n    ${0} ${SURETEXT}\n\n"
  echo -e "If this init script is NOT working as intended please assure..."
  echo -e "  ...you have database services running"
  echo -e "  ...you have installed the correct Java alternative to be able to"
  echo -e "     install and run the services correctly (java-1.8.0-openjdk-amd64)"
  echo -e "  ...you have checked out the correct branch of the tgcommon tools,"
  echo -e "     please see /usr/local/src/tgcommon-git/\n"
  echo -e "Thanks! :-)\n"
  exit
fi

###
# initialise
###
SCOPE="textgrid"
SLAPD_ROOTPW=<%= scope.lookupvar('dhrep::tgauth_slapd_rootpw') %>
RDF_DB_PORT=<%= @sesame_port %>
ES_MASTER_HTTP_PORT=<%= scope.lookupvar('dhrep::params::elasticsearch_master_http_port') %>
LINES=">>>>>>>>>>  "

###
# create initial ldap db
###                                                                                             
echo $LINES"creating initial ldap database"
cd /opt/dhrep/ldap-init && ./tgldapconf.sh && ldapadd -x -f ./ldap-rbac-template.ldif -D "cn=Manager,dc=textgrid,dc=de" -w "${SLAPD_ROOTPW}"
if [ $? != 0 ]; then
    echo $LINES"error creating ldap db!";
    exit $?;
else
  echo $LINES"created";
fi

###                                                                                              
# create initial rdf db
###
echo $LINES"creating initial rdf databases"
cd /usr/local/src/rdf4j-service/tools/ && RDF_DB_PORT=<%= @sesame_port %> ./init-rdf4j.sh
if [ $? != 0 ]; then
    echo $LINES"error creating rdf db!";
    exit $?;
else
  echo $LINES"created";
fi

###
# create initial elasticsearch public and nonpublic index
###
echo $LINES"creating initial elasticsearch database"
cd /usr/local/src/tgcommon-git/esutils/tools/$SCOPE/createIndex/
./createAllPublic.sh localhost:$ES_MASTER_HTTP_PORT
./createAllNonpublic.sh localhost:$ES_MASTER_HTTP_PORT
if [ $? != 0 ]; then
    echo $LINES"error creating esdb!";
    exit $?;
else
    echo $LINES"created";
fi
