#!/bin/bash

#
# get report param
#
R=true
while getopts ":s" opt; do
  case $opt in
    s)
      R=false
   esac
done

#
# generics
#
ERRORS=false
ERRSTR="Failed services:"
WARNINGS=false
WARNSTR="Service warnings:"
SERVER="http://localhost"
CNRM="$(tput sgr0)"
OK="$(tput setaf 2)OK$CNRM"
WARNING="$(tput setaf 3)WARNING$CNRM"
FAILED="$(tput setaf 1)FAILED$CNRM"
CSTR="$(tput setaf 5)"
VSTR="$(tput setaf 3)"
TRN="  ==>  "
NO_CHECK_CERTIFICATE="--no-check-certificate"

#
# dhcrud
#
FILE="version"
CRUD=$SERVER":<%= @crud_port %>/dhcrud-public/"$FILE
if $R; then echo "checking "$CSTR"dhcrud"$CNRM" (intern)"$TRN $CRUD; fi
curl -s $CRUD > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhcrud"
fi

#
# dhcrud (public) don't worry, it is correct this way :-)
#
FILE="version"
CRUD=$SERVER":<%= @crud_port %>/dhcrud/"$FILE
if $R; then echo "checking "$CSTR"dhcrud public"$CNRM $TRN $CRUD; fi
curl -s $CRUD > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhcrud-public"
fi

#
# dhpublish
#
FILE="version"
PUBLISH=$SERVER":<%= @publish_port %>/dhpublish/"$FILE
if $R; then echo "checking "$CSTR"dhpublish"$CNRM $TRN $PUBLISH; fi
curl -s $PUBLISH > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhpublish"
fi

#
# publikator
#
FILE="publikator"
PUBLIKATOR=$SERVER"/"$FILE
if $R; then echo "checking "$CSTR"publikator"$CNRM $TRN $PUBLIKATOR; fi
curl -Lks $PUBLIKATOR > $FILE
URGL=`grep \<span\>DARIAH-DE $FILE`
URGL=`echo ${URGL:35:5}`
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $URGL; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" publikator"
fi

#
# oaipmh
#
FILE="version"
OAIPMH=$SERVER":<%= @oaipmh_port %>/oaipmh/oai/"$FILE
if $R; then echo "checking "$CSTR"oaipmh"$CNRM $TRN $OAIPMH; fi
curl -s $OAIPMH > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhoaipmh"
fi

#
# pid
#
FILE="version"
PID=$SERVER":<%= @pid_port %>/pid/"$FILE
if $R; then echo "checking "$CSTR"dhpid"$CNRM" (intern)"$TRN $PID; fi
curl -s $PID > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhpid"
fi

#
# digilib
#
INFO="info"
DIGILIB=$SERVER"/1.0/digilib/rest/"$INFO
if $R; then echo "checking "$CSTR"digilib"$CNRM $TRN $DIGILIB; fi
wget $NO_CHECK_CERTIFICATE -q $DIGILIB
if [ -s $INFO ]; then
    rm $INFO
    if $R; then     echo "    $OK"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm -f $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhdigilib"
fi

<% if not @new_messaging -%>
#
# wildfly
#
FILE="wildfly"
WILDFLY=$SERVER":18080/jolokia/read/java.lang:type=Runtime/Uptime"
if $R; then echo "checking "$CSTR"wildfly"$CNRM" (may be obsolete)"$TRN $WILDFLY; fi
curl -s $WILDFLY > $FILE
URGL=`grep \"status\":200 $FILE`
URGL=`echo ${URGL: -13:12}`
if [ -s $FILE ] && [ "$URGL" = "\"status\":200"  ] ; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $URGL; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhwildfly"
fi
<% end -%>
<% if @new_messaging -%>
#
# artemis
#
FILE="artemis"
ARTEMIS=$SERVER":8161"
if $R; then echo "checking "$CSTR"artemis"$CNRM" (intern)"$TRN $ARTEMIS; fi
curl -s $ARTEMIS > $FILE
URGL=`grep \"ActiveMQ\ Artemis\" $FILE`
if [ -s $FILE ] && [ "$URGL" ] ; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $URGL; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" artemis"
fi

#
# message-consumer
#
FILE="message-consumer"
MBEANS=$SERVER":18080/q/metrics/json"
if $R; then echo "checking "$CSTR"message-consumer"$CNRM" (intern)"$TRN $MBEANS; fi
curl -s $MBEANS > $FILE
URGL=`grep \"process.uptime\" $FILE`
if [ -s $FILE ] && [ "$URGL" ] ; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $URGL; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" message-consumer"
fi
<% end -%>

#
# iiifmd
#
INFO="collection.json"
IIIFMD=$SERVER"/1.0/iiif/manifests/"$INFO
if $R; then echo "checking "$CSTR"iiifmd"$CNRM $TRN $IIIFMD; fi
wget $NO_CHECK_CERTIFICATE -q $IIIFMD
if [ -s $INFO ]; then
    rm $INFO
    if $R; then echo "    $OK"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm -f $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" dhiiifmd"
fi

#
# elasticsearch masternode
#
MASTERNODE=$SERVER":<%= @elasticsearch_master_http_port %>"
if $R; then echo "checking "$CSTR"es masternode"$CNRM" (intern)"$TRN $MASTERNODE; fi
ES_HEALTH=`curl -s $MASTERNODE/_cluster/health | jq -r .status`
if [ "$ES_HEALTH" = "green" ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $ES_HEALTH; fi
    if $R; then echo $CNRM"]"; fi
elif [ "$ES_HEALTH" = "yellow" ]; then
    if $R; then echo -n "    $WARNING ["$VSTR; fi
    if $R; then echo -n $ES_HEALTH; fi
    if $R; then echo $CNRM"]"; fi
    WARNINGS=true
    WARNSTR=$WARNSTR" es-masternode"
else
    if $R; then echo "    $FAILED"; fi
    ERRORS=true
    ERRSTR=$ERRSTR" es-masternode"
fi

#
# elasticsearch workhorse
#
WORKHORSE=$SERVER":<%= @elasticsearch_workhorse_http_port %>"
if $R; then echo "checking "$CSTR"es workhorse"$CNRM" (intern)"$TRN $WORKHORSE; fi
ES_HEALTH=`curl -s $WORKHORSE/_cluster/health | jq -r .status`
if [ "$ES_HEALTH" = "green" ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then echo -n $ES_HEALTH; fi
    if $R; then echo $CNRM"]"; fi
elif [ "$ES_HEALTH" = "yellow" ]; then
    if $R; then echo -n "    $WARNING ["$VSTR; fi
    if $R; then echo -n $ES_HEALTH; fi
    if $R; then echo $CNRM"]"; fi
    WARNINGS=true
    WARNSTR=$WARNSTR" es-workhorse"
else
    if $R; then echo "    $FAILED"; fi
    ERRORS=true
    ERRSTR=$ERRSTR" es-workhorse"
fi

#
# fits service
#
FILE="version"
FITS=$SERVER":<%= @fits_port %>/fits/"$FILE
if $R; then echo "checking "$CSTR"fits service"$CNRM" (intern)"$TRN $FITS; fi
curl -s $FITS > $FILE
if [ -s $FILE ]; then
    if $R; then echo -n "    $OK ["$VSTR; fi
    if $R; then cat $FILE | xargs echo -n; fi
    rm $FILE
    if $R; then echo $CNRM"]"; fi
else
    if $R; then echo "    $FAILED"; fi
    rm $FILE
    ERRORS=true
    ERRSTR=$ERRSTR" fits-service"
fi

#
# check for warnings and errors
#
if $WARNINGS; then
    # Nagios WARNING
    echo "Warnings in service checks! "$WARNSTR
    exit 1
fi
if $ERRORS; then
    # Nagios ERROR
    echo "Service checks FAILED! "$ERRSTR
    exit 2
fi

echo "Service checks turn out to be OK"
exit 0
