##################################
##  OAI-PMH Configuration File  ##
##################################

RS_ENDPOINT = https://<%= scope.lookupvar('profiles::textgridrepository::public_hostname') %>/1.0/tgoaipmh

########################
##  Project Choosing  ##
########################

textgrid = true
dariah = false

############################
##  ElasticSearch Config  ##
############################

elasticSearch.url = searchindex-main
elasticSearch.ports = 9200
<% if scope.lookupvar('dhrep::services::intern::elasticsearch::one_node_cluster') -%>
#elasticSearch.ports = <%= scope.lookupvar('dhrep::params::elasticsearch_master_http_port') %>
<% else -%>
#elasticSearch.ports = <%= scope.lookupvar('dhrep::params::elasticsearch_master_http_port') %>, <%= scope.lookupvar('dhrep::params::elasticsearch_workhorse_http_port') %>
<% end -%>
elasticSearch.index = textgrid-public
# NONPUBLIC index only for TextGrid IDIOM queries!
elasticSearch.nonpublicIndex = textgrid-nonpublic
elasticSearch.type = metadata

###################################
##  General ES default settings  ##
###################################

searchResponseSize = 100
# lifetime of resumption tokens in seconds
restokLifetime = 333

#############################
##  Repository Properties  ##
#############################

repositoryName = TextGrid Repository
baseURL = https://<%= scope.lookupvar('profiles::textgridrepository::public_hostname') %>/1.0/tgoaipmh/oai
earliestDatestamp = 2011-06-11T02:32:40Z
adminMail = textgrid-support@gwdg.de

######################
##  Instantiations  ##
######################

metadataFormatListInstance = MetadataFormatListDelivererTG

######################
##  Field Settings  ##
######################

fields = extent,work.subject,revision,edition.source.bibliographicCitation,edition.license,created,issued,format,identifier,dataContributor,textgridUri,project,project.id,relations.isDerivedFrom,title,pid.value,edition.isEditionOf,edition.agent.value,edition.license.licenseUri,edition.language,edition.source.bibliographicCitation.author.value,edition.source.bibliographicCitation.editor.value,edition.source.bibliographicCitation.editionTitle,edition.source.bibliographicCitation.placeOfPublication.value,edition.source.bibliographicCitation.publisher.value,edition.source.bibliographicCitation.editionNo,edition.source.bibliographicCitation.series,edition.source.bibliographicCitation.volume,edition.source.bibliographicCitation.issue,edition.source.bibliographicCitation.epage,edition.source.bibliographicCitation.spage,edition.source.bibliographicCitation.bibidentifier,work.abstract,work.genre,work.type,work.spatial.value,work.temporal.value,work.agent.value,work.subject.id.value,lastModified
workFields = created,work.abstract,relations.isDerivedFrom,textgridUri,work.genre,title,work.type,work.spatial.value,work.temporal.spatial,work.agent.value,work.subject.id.value

#######################
##  OpenAireRecords  ##
#######################

oar.identifierField = pid.value
oar.sizeField = extent
oar.relationToWorkObject = edition.isEditionOf
oar.handle = pid.value

oar.titleFields = title
oar.dateFields = created,issued,lastModified
oar.contributorFields = dataContributor
oar.creatorFields = edition.agent.value
oar.languageFields = edition.language
oar.alternateIdentifierFields = textgridUri
oar.formatFields = format
oar.rightsFields = edition.license
oar.descriptionFields = work.abstract
oar.relatedIdentifierFields = edition.isEditionOf
oar.geoLocationFields = edition.source.bibliographicCitation.placeOfPublication.value
oar.versionFields = revision
oar.subjectFields = work.subject

##########################
##  Dublin Core Fields  ##
##########################

contributorList = dataContributor
coverageList = work.spatial.value, work.temporal.value
creatorList = work.agent.value
dateList = created
descriptionList = work.abstract
formatList = format
identifierList = textgridUri, pid.value, identifier
languageList = edition.language
publisherList = edition.source.bibliographicCitation.publisher.value
relationList = project.id, relations.isDerivedFrom
relationsForWorkList = relations.isDerivedFrom, title, textgridUri
rightsList = edition.license.licenseUri
sourceList = edition.source.bibliographicCitation.author.value, edition.source.bibliographicCitation.editor.value, edition.source.bibliographicCitation.editionTitle, edition.source.bibliographicCitation.placeOfPublication.value, edition.source.bibliographicCitation.publisher.value, edition.source.bibliographicCitation.editionNo, edition.source.bibliographicCitation.series, edition.source.bibliographicCitation.volume, edition.source.bibliographicCitation.issue, edition.source.bibliographicCitation.epage, edition.source.bibliographicCitation.spage
subjectList = work.subject.id.value
titleList = title
typeList = work.genre, work.type

#############################
##  ListIdentifierSetting  ##
#############################

rangeField = created
identifierListFields = textgridUri, created, format
formatField = format
formatToFilter = text/tg.edition+tg.aggregation+xml
dateOfObjectCreation = created
relationToFurtherMetadataObject = edition.isEditionOf
repositoryObjectURIPrefix = textgrid:
identifierPrefix = textgridUri
identifierField = textgridUri
specFieldPrefix = project:
modifiedField = lastModified

#####################
##  More Settings  ##
#####################

specField = project.id
specFieldPrefix = project:

######################################
##  IDIOM Metadata Format Settings  ##
######################################

# Settings to select ClassicMayan elements from ElasticSearch.
idiomProjectID = TGPR-0e926f53-1aba-d415-ecf6-539edcd8a318
idiomArtefactNote = ARTEFACT
idiomMediumNote = ConedaKorMediumData
idiomInputFormFormat = text/tg.inputform+rdf+xml
idiomJSONFormat = application/json
# We do need a TG-crud endpoint and a TextGrid RBAC Session ID for accessing unpublished image objects from TG-crud.
idiomTgcrudEndpoint = <%= @idiom_tgcrud_endpoint %>
idiomRbacSessionID = <%= @idiom_rbac_session_id %>
idiomImageUpdateProperties = /etc/dhrep/oaipmh/queries-collection.properties
