# Properties for DHREP Digilib Service
digilib.service.textgrid.server = https://<%= scope.lookupvar('dhrep::public_hostname') %>
digilib.service.dhcrudurl = <%= @dhcrud_location %>
digilib.service.iiif.baseurl = https://<%= scope.lookupvar('dhrep::public_hostname') %>/1.0/digilib/rest/IIIF
digilib.prescale.subdirs = false

# tgcrudurl and tgsearchbasurl are here to overwrite location for non standard locations (like in a docker-compose setup)
digilib.service.tgcrudurl = <%= @tgcrud_location %>
digilib.service.tgsearchbaseurl = <%= @search_base_location %>
