###
# general settings
###

scope=textgrid
esNodes=http://searchindex-main:9200
loglevel=INFO

# some service urls
serviceBaseUrl=https://<%= scope.lookupvar('dhrep::public_hostname') %>/1.0/iiif/manifests
iiifServiceUrl=https://<%= scope.lookupvar('dhrep::public_hostname') %>/1.0/digilib/rest/IIIF
iiifServiceUrlIntern=http://digilib:8080/digilib/rest/IIIF
miradorUrl=https://<%= @mirador_host %>/1.0/iiif/mirador?uri=
tifyUrl=https://tify.rocks
# context and conformance urls
iiifContextUrl=http://iiif.io/api/image/2/context.json
iiifConformanceUrl=http://iiif.io/api/image/2/level2.json
# jsonld output specific settings
jsonldContextUrl=http://iiif.io/api/presentation/2/context.json
# cache directory, needs to be existing and writeable
cacheDir=/var/dhrep/iiifmd/cache
# projects which should be listed for IIIF (comma separated)
listedProjects=<%= @iiif_enabled_projects.join(",") %>
# uris of incomplete publications, which cause errors
brokenUris=<%= @iiif_blacklist_uris.join(",") %>
# labels
publishedLabel="Published data in the TextGrid Repository"
publishedDescription="Published data in the TextGrid Repository."
sandboxLabel="Data in the TextGrid Repository Sandbox"
sandboxDescription="Data in the TextGrid Repository Sandbox is reviewed for final publication, but may still be removed."

###
# textgrid specific settings (only apply if scope is: textgrid!)
###

tg.sparqlEndpoint=http://triplestore:8080/openrdf-sesame/repositories/textgrid-public
tg.crudUrl=http://crud:8080/tgcrud-public/rest
tg.searchUrl=http://search:8080/tgsearch-public
tg.esIndex=textgrid-public
tg.esType=metadata
# xslt file for extracting ordered uris from mets file (from resources/xslt folder)
tg.metsXsltFile=metsExtract.xsl
# url for textgridrep website
tg.repositoryUrl=https://<%= @repository_host %>
tg.presentationUrl=https://<%= @repository_host %>
tg.documentationUrl=https://<%= @repository_host %>/doc/services/submodules/tg-iiif-metadata/docs_tgrep/index.html
tg.repositoryLogo=https://res.de.dariah.eu/textgrid/images/textgrid-logo.svg
tg.oaipmhUrl=https://<%= scope.lookupvar('dhrep::public_hostname') %>/1.0/tgoaipmh/oai

###
# dariah-de specific settings (only apply if scope is: dariah!)
###

dh.crudUrl=http://crud:8080/dhcrud/
dh.esIndex=dariah-public
dh.esType=metadata
dh.repositoryUrl=https://<%= @repository_host %>/
dh.presentationUrl=https://<%= scope.lookupvar('dhrep::public_hostname') %>/1.0/dhcrud
dh.documentationUrl=https://<%= @repository_host %>/doc/services/submodules/dhiiifmd/docs_dhrep/index.html
dh.repositoryLogo=https://res.de.dariah.eu/logos/dariah-de/dariah-de_cmyk_en.svg
dh.oaipmhUrl=http://oaipmh:8080/oaipmh/oai/
