# --------------------------------------------------------------------------
# All PUBLIKATOR configuration
# --------------------------------------------------------------------------
Alias /accessdenied.html /opt/dariahshibboleth/accessdenied.html
ErrorDocument 403 /accessdenied.html
ErrorDocument 401 /accessdenied.html

ProxyPass         /publikator  http://localhost:<%= @config['tomcat_publikator']['http_port'] %>/publikator nocanon
ProxyPassReverse  /publikator  http://localhost:<%= @config['tomcat_publikator']['http_port'] %>/publikator
ProxyPassReverse  /publikator  https://<%= scope.lookupvar('::fqdn') %>/publikator

<% if scope.lookupvar('dhrep::services::publikator::enable_aai') == true -%>
<Proxy http://localhost:<%= @config['tomcat_publikator']['http_port'] %>/publikator*>
   AuthType shibboleth
   Require shibboleth
   ShibUseHeaders On
   RequestHeader set eppn %{eppn}e env=eppn
   RequestHeader set cn %{cn}e
   RequestHeader set sn %{sn}e
   RequestHeader set givenName %{givenName}e
   RequestHeader set isMemberOf %{isMemberOf}e env=isMemberOf
</Proxy>

<Location /publikator/login>
  AuthType shibboleth
  ShibRequestSetting requireSession 1
<% if scope.lookupvar('dhrep::publikator_lock_to_group') == nil -%>
  require valid-user
<% else -%>
  require shib-attr isMemberOf <%= scope.lookupvar('dhrep::publikator_lock_to_group') %>
<% end -%>
</Location>
<% end -%>
