###
# rewrite logging, please use for debugging
###
#error_log /var/log/nginx/error.log notice;
#rewrite_log on;

###
# confserv
###
location /1.0/confserv/ {
#    gzip on;
    default_type application/json;
    alias /var/www/confserv/1.0/;
    autoindex on;
}

###
# tgauth und shibboleth
###
location /1.0/tgauth {
    proxy_pass http://127.0.0.1:8080/tgauth;
}
location /1.0/WebAuthN {
    proxy_pass http://127.0.0.1:8080/WebAuthN;
}
location /1.0/Shibboleth.sso {
    proxy_pass http://127.0.0.1:8080/1.0/Shibboleth.sso;
}
location /1.0/secure {
    proxy_pass http://127.0.0.1:8080/1.0/secure;
}

###
# sesame
###
location /1.0/triplestore {
    proxy_pass http://127.0.0.1:<%= @config['tomcat_sesame']['http_port'] %>/openrdf-sesame/repositories;
    limit_except GET {
       deny all;
    }
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

###
# oaipmh
###
location /1.0/tgoaipmh {
    proxy_pass		http://127.0.0.1:<%= @config['tomcat_oaipmh']['http_port'] %>/oaipmh;
    proxy_set_header	X-Real-IP $remote_addr;
    proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header	Host $http_host;
}
# Do rewrite to verb Identify if root URL given.
# FIXME Does not work :-(
#rewrite /1.0/tgoaipmh/oai /1.0/tgoaipmh/oai?verb=Identify;

###
# tgsearch
###
<% if scope.lookupvar('dhrep::services::tgsearch::quarkus') -%>
location /1.0/tgsearch/ {
    gzip on;
    gzip_types text/plain application/xml;
    proxy_pass http://127.0.0.1:9088/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/tgsearch-public/ {
    gzip on;
    gzip_types text/plain application/xml;
    proxy_pass http://127.0.0.1:9089/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/tgsearch-public/navigation/toplevel  {
    expires <%= scope.lookupvar('dhrep::nginx::tgsearch_toplevel_cache_expiration') %>;
    gzip on;
    gzip_types text/plain application/xml;
    proxy_cache tgsearch_toplevel;
    proxy_cache_valid 24h;
    proxy_pass http://127.0.0.1:9089/navigation/toplevel;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

location /1.0/tgsearch-public/portal  {
    expires 1m;
    gzip on;
    gzip_types text/plain application/xml;
    proxy_cache tgsearch_portal;
    proxy_cache_valid 1m;
    proxy_pass http://127.0.0.1:9089/portal;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
<% else -%>
location /1.0/tgsearch {
    gzip on;
    gzip_types text/plain application/xml;
    proxy_pass http://127.0.0.1:<%= @config['tgsearch']['http_port'] %>/tgsearch;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/tgsearch-public {
    gzip on;
    gzip_types text/plain application/xml;
    proxy_pass http://127.0.0.1:<%= @config['tgsearch']['http_port'] %>/tgsearch-public;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/tgsearch-public/navigation/toplevel  {
    expires <%= scope.lookupvar('dhrep::nginx::tgsearch_toplevel_cache_expiration') %>;
    gzip on;
    gzip_types text/plain application/xml;
    proxy_cache tgsearch_toplevel;
    proxy_cache_valid 24h;
    proxy_pass http://127.0.0.1:<%= @config['tgsearch']['http_port'] %>/tgsearch-public/navigation/toplevel;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

location /1.0/tgsearch-public/portal  {
    expires 1m;
    gzip on;
    gzip_types text/plain application/xml;
    proxy_cache tgsearch_portal;
    proxy_cache_valid 1m;
    proxy_pass http://127.0.0.1:<%= @config['tgsearch']['http_port'] %>/tgsearch-public/portal;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
<% end %>

###
# tgcrud
###
location /1.0/tgcrud {
#    gzip on;
#    gzip_types multipart/related application/xop+xml text/xml;
    client_max_body_size 1000m;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_pass http://127.0.0.1:<%= @tomcat_crud_http_port %>/tgcrud;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/tgcrud-public {
#    gzip on;
#    gzip_types multipart/related application/xop+xml text/xml;
    client_max_body_size 1000m;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_pass http://127.0.0.1:<%= @tomcat_crud_http_port %>/tgcrud-public;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

###
# tgpublish
###
location /1.0/tgpublish {
    proxy_pass http://127.0.0.1:<%= @config['tomcat_publish']['http_port'] %>/tgpublish;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
#    add_header              Access-Control-Allow-Origin *;
}

###
# tgpid
###
location /1.0/tgpid {
    proxy_pass http://127.0.0.1:<%= @config['tomcat_pid']['http_port'] %>/pid;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}

###
# digilib und co
###
location /1.0/digilib {
    proxy_pass http://digilib_balancer/digilibservice;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/digilib/rest/IIIF {
    # the cached resource has the CORS header only if the Origin-header was
    # present in the request which went into cache so here we set the CORS
    # header always, and ignore the upstream entry, all the other CORS related
    # stuff (preflight, etc) should still be handled by upstream cxf service.
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Origin *;
    # Nginx MUST NOT decode the %2F in the Handle!
    rewrite  ^  $request_uri;
    rewrite  ^/1.0/digilib/rest/IIIF(/.*)  /digilibservice/rest/IIIF$1  break;
    return 400;
    proxy_pass  http://digilib_balancer;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
    proxy_cache digilib_iiif;
    proxy_cache_valid 60d;
    proxy_ignore_headers Cache-Control;
}
location /1.0/digilib/rest/digilib {
    # Nginx MUST NOT decode the %2F in the Handle!
    # No! We can do it via REST @Path("/{uri: .+}") configuration!
    # TODO Check if we can use this for IIIF API, too!
#    rewrite  ^  $request_uri;
#    rewrite  ^/1.0/digilib/rest/digilib(/.*)  /digilibservice/rest/digilib$1  break;
#    return 400;
    proxy_pass http://digilib_balancer/digilibservice/rest/digilib;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
    proxy_cache digilib_digilib;
    proxy_cache_valid 60d;
    proxy_ignore_headers Cache-Control;
}
location /1.0/iiif/manifests {
    gzip on;
    gzip_types text/plain application/json;
    proxy_pass http://127.0.0.1:<%= @config['iiifmd']['http_port'] %>/iiifmd;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/iiif/mirador {
    alias /var/www/nginx-root/textgridrep.de/iiif/mirador;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
location /1.0/iiif/m2 {
    alias /var/www/nginx-root/textgridrep.de/iiif/m2;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Host $http_host;
}
# (old) link to digilib tool (only on esx2 - TODO install via puppet on all machines)
location /1.0/tgrep/digilib {
    alias /var/www/nginx-root/textgridrep.de/textgridrep-webseite/digilib;
}

###
# aggregator
###
location /1.0/aggregator {
    # the cached resource has the CORS header only if the Origin-header was
    # present in the request which went into cache so here we set the CORS
    # header always, and ignore the upstream entry, all the other CORS related
    # stuff (preflight, etc) should still be handled by upstream cxf service.
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Origin *;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    #proxy_pass http://127.0.0.1:<%= @config['tomcat_aggregator']['http_port'] %>/aggregator;
    proxy_pass http://<%= scope.lookupvar('dhrep::services::aggregator::k8s_ip') %>/aggregator;
    #proxy_set_header X-Real-IP $remote_addr;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_set_header Host localhost:<%= @config['tomcat_aggregator']['http_port'] %>;
    proxy_set_header Host <%= scope.lookupvar('dhrep::services::aggregator::proxy_id') %>;
}
location /1.0/aggregator/html {
    # the cached resource has the CORS header only if the Origin-header was
    # present in the request which went into cache so here we set the CORS
    # header always, and ignore the upstream entry, all the other CORS related
    # stuff (preflight, etc) should still be handled by upstream cxf service.
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Origin *;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    #proxy_pass http://127.0.0.1:<%= @config['tomcat_aggregator']['http_port'] %>/aggregator/html;
    proxy_pass http://<%= scope.lookupvar('dhrep::services::aggregator::k8s_ip') %>/aggregator/html;
    proxy_cache aggregator;
    proxy_cache_valid 30d;
    proxy_ignore_headers Cache-Control;
    #proxy_set_header X-Real-IP $remote_addr;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #proxy_set_header Host localhost:<%= @config['tomcat_aggregator']['http_port'] %>;
    proxy_set_header Host <%= scope.lookupvar('dhrep::services::aggregator::proxy_id') %>;
}

location /textapi {
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Origin *;
    proxy_read_timeout 900s;
    proxy_send_timeout 900s;
    proxy_connect_timeout 120s;
    proxy_pass http://134.76.16.77/textapi;
    proxy_set_header Host textapi.<%= scope.lookupvar('profiles::textgridrepository::public_hostname') %>;
}


###
# eclipse tg marketplace
###
location /marketplace {
    proxy_pass http://127.0.0.1:5000;
}

###
# script to handle tglab bugreports
###
location /bugreport {
    client_max_body_size 20m;
    proxy_pass http://127.0.0.1:8080/bugreport;
}

###
# normdata
###
location /tgnsearch {
    proxy_pass https://ref.de.dariah.eu/tgnsearch;
}
location /pndsearch {
    proxy_pass https://ref.de.dariah.eu/pndsearch;
}
