##################################
##  OAI-PMH Configuration File  ##
##################################

RS_ENDPOINT = https://<%= scope.lookupvar('::fqdn') %>/1.0/oaipmh

########################
##  Project Choosing  ##
########################

textgrid = false
dariah = true

############################
##  ElasticSearch Config  ##
############################

elasticSearch.url = searchindex-main
elasticSearch.ports = 9200
elasticSearch.index = dariah-public
elasticSearch.type = metadata

###################################
##  General ES default settings  ##
###################################

searchResponseSize = 100
# lifetime of resumption tokens in seconds
restokLifetime = 333

#############################
##  Repository Properties  ##
#############################

repositoryName = DARIAH-DE Repository
baseURL = https://<%= scope.lookupvar('::fqdn') %>/1.0/oaipmh/oai
earliestDatestamp = 2017-12-05T00:00:00Z
adminMail = support@de.dariah.eu

######################
##  Instantiations  ##
######################

metadataFormatListInstance = MetadataFormatListDelivererDH

######################
##  Field Settings  ##
######################

fields = administrativeMetadata.dcterms:creator, administrativeMetadata.datacite:identifier, administrativeMetadata.dcterms:modified, administrativeMetadata.dcterms:created, administrativeMetadata.dcterms:identifier, administrativeMetadata.dcterms:extent, administrativeMetadata.dcterms:relation, administrativeMetadata.dcterms:format, descriptiveMetadata.dc:contributor, descriptiveMetadata.dc:coverage, descriptiveMetadata.dc:creator, descriptiveMetadata.dc:date, descriptiveMetadata.dc:description, descriptiveMetadata.dc:format, descriptiveMetadata.dc:identifier, descriptiveMetadata.dc:language, descriptiveMetadata.dc:publisher, descriptiveMetadata.dc:relation, descriptiveMetadata.dc:rights, descriptiveMetadata.dc:source, descriptiveMetadata.dc:subject, descriptiveMetadata.dc:title, descriptiveMetadata.dc:type, descriptiveMetadata.dc:relation
workFields = descriptiveMetadata.dc:title

#######################
##  OpenAireRecords  ##
#######################

oar.identifierField = administrativeMetadata.datacite:identifier
oar.sizeField = administrativeMetadata.dcterms:extent
oar.relationToWorkObject =
oar.handle = administrativeMetadata.dcterms:identifier

oar.titleFields = descriptiveMetadata.dc:title
oar.dateFields = administrativeMetadata.dcterms:created, administrativeMetadata.dcterms:modified
oar.contributorFields = administrativeMetadata.dcterms:creator, descriptiveMetadata.dc:contributor
oar.creatorFields = descriptiveMetadata.dc:creator
oar.languageFields = descriptiveMetadata.dc:language
oar.alternateIdentifierFields = descriptiveMetadata.dc:identifier
oar.formatFields = administrativeMetadata.dcterms:format
oar.rightsFields = descriptiveMetadata.dc:rights
oar.descriptionFields = descriptiveMetadata.dc:description
oar.relatedIdentifierFields = descriptiveMetadata.dc:relation
oar.geoLocationFields = descriptiveMetadata.dc:coverage
oar.versionFields = administrativeMetadata.dcterms:modified
oar.subjectFields = descriptiveMetadata.dc:subject

##########################
##  Dublin Core Fields  ##
##########################

contributorList = descriptiveMetadata.dc:contributor
coverageList = descriptiveMetadata.dc:coverage
creatorList = descriptiveMetadata.dc:creator
dateList = administrativeMetadata.dcterms:modified
descriptionList = descriptiveMetadata.dc:description
formatList = descriptiveMetadata.dc:format
identifierList = descriptiveMetadata.dc:identifier
languageList = descriptiveMetadata.dc:language
publisherList = descriptiveMetadata.dc:publisher
relationList = descriptiveMetadata.dc:relation
rightsList = descriptiveMetadata.dc:rights
sourceList = descriptiveMetadata.dc:source
subjectList = descriptiveMetadata.dc:subject
titleList = descriptiveMetadata.dc:title
typeList = descriptiveMetadata.dc:type

########################################
##  ListIdentifier/ListSets Settings  ##
########################################

rangeField = administrativeMetadata.dcterms:modified
identifierListFields = descriptiveMetadata.dc:identifier, descriptiveMetadata.dc:date, descriptiveMetadata.dc:format, administrativeMetadata.dcterms:identifier, administrativeMetadata.dcterms:modified
formatField = administrativeMetadata.dcterms:format
relationField = administrativeMetadata.dcterms:relation
formatToFilter = <%= @format_to_filter %>
# must be last object update, not object creation!
dateOfObjectCreation = administrativeMetadata.dcterms:modified
relationToFurtherMetadataObject = administrativeMetadata.dcterms:relation
repositoryObjectURIPrefix = hdl:
identifierField = administrativeMetadata.dcterms:identifier
modifiedField = administrativeMetadata.dcterms:modified

#####################
##  More Settings  ##
#####################

specField = administrativeMetadata.dcterms:relation
specFieldPrefix = hdl:
