###
# #%L
# PID Service Wrapper Implementation
# %%
# Copyright (C) 2016 DARIAH-DE Consortium (https://de.dariah.eu),
# SUB Göttingen (http://www.sub.uni-goettingen.de)
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Lesser Public License for more details.
#
# You should have received a copy of the GNU General Lesser Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/lgpl-3.0.html>.
# #L%
###

# EPIC PID service settings (GWDG)
# TODO Remove endpooint and path as soon as pid service is merged and deployed to develop!
handleservice.endpoint = <%= scope.lookupvar('dhrep::services::pid::endpoint') %>
handleservice.path = <%= scope.lookupvar('dhrep::services::pid::path') %>
# Handle resolver
handleservice.prefix = <%= scope.lookupvar('dhrep::services::pid::prefix') %>
handleservice.user = <%= scope.lookupvar('dhrep::services::pid::user') %>
handleservice.index= <%= scope.lookupvar('dhrep::services::pid::index') %>
handleservice.pw = <%= scope.lookupvar('dhrep::services::pid::passwd') %>

# Handle resolver (read-only)
# TODO Also remove resolver endpooint and path as soon as pid service is merged and deployed to develop!
resolver.endpoint = https://hdl.handle.net
resolver.path = /api/handles/

# DataCite DOI service
# DOI Prefix without /!
doi.prefix = <%= @doi_prefix %>
# DOI Server
doi.server = <%= @doi_endpoint %>
doi.user = <%= @doi_user %>
doi.pw = <%= @doi_passwd %>
# This is the target of the DOI identifier, currently we use the Handle server
# because we need custom metadata. Please keep the #ID as placeholder!
doi.targetUrl = <%= @doi_target_url %>
doi.publisher = <%= @doi_publisher %>

# More settings
pid.responsible = <%= @responsible %>
pid.creator = <%= @creator %>
pid.secret = <%= @secret %>
tgauth.endpoint =
log.location = /var/log/dhrep/dhpid/pid.log
log.level = INFO
service.endpoint = http://localhost:<%= @config['tomcat_pid']['http_port'] %>/dhpid
