###
# !dhrep-cli configuration file, scope: textgrid!
###

# NOTE we need localhost for all services, not docker endpoints from config files!

# elasticsearch settings
elasticSearch.url = localhost
elasticSearch.ports = 9202
elasticSearch.index = textgrid-nonpublic
elasticSearch.itemLimit = 3000

# tgcrud settings
tgcrudPublic.endpoint = http://localhost/1.0/tgcrud-public/rest/
tgcrudPublic.reindexSecret = <%= @reindex_secret %>

# tgsearch settings
tgsearchPublic.endpoint = http://localhost/1.0/tgsearch-public/

# tgpid settings
tgpid.endpoint = http://localhost/1.0/tgpid/
tgpid.config = /etc/dhrep/tgpid/pid.properties

# complete tg metadata path
tgmeta.path = /data/public/productive/

# TODO Use one config file for all dhrep-cli-tool properties!
