###
# #%L
# TextGrid CRUD Service Configuration
# %%
# Copyright (C) 2017 DARIAH-DE Consortium (https://de.dariah.eu),
# SUB Göttingen (http://www.sub.uni-goettingen.de)
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Lesser Public License for more details.
#
# You should have received a copy of the GNU General Lesser Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/lgpl-3.0.html>.
# #L%
###

# Special TG-crud feature: Directly pubish objects created with #CREATE.
# Used for the second (public) TG-crud instance used by TG-publish.
DIRECTLY_PUBLISH_WITH_CREATE = FALSE

# The TextGrid metadata namespace TG-crud is working with (mandatory).
METADATA_NAMESPACE = http://textgrid.info/namespaces/metadata/core/2010

# The path to the log4j config file (mandatory).
LOG4J_CONFIGFILE = /etc/dhrep/tgcrud/<%= @log_config_file %>

# The Handle resolver URL (mandatory).
HANDLE_RESOLVER_URL = https://hdl.handle.net/

# The ID implementation to use for URI creation.
ID_IMPLEMENTATION = <%= @id_implementation %>
# The security implementation (AAI) to use for authentification and authorization.
AAI_IMPLEMENTATION = <%= @aai_implementation %>
# GRID storage implementation class.
DATA_STORAGE_IMPLEMENTATION = <%= @data_storage_implementation %>
# XMLDB storage implementation class.
IDXDB_STORAGE_IMPLEMENTATION = <%= @idxdb_storage_implementation %>
# RDFDB storage implementation class.
RDFDB_STORAGE_IMPLEMENTATION = <%= @rdfdb_storage_implementation %>

# The default encoding of all used XML operations (default: UTF-8).
DEFAULT_ENCODING = UTF-8

# The path, all files will be stored to, including the protocol to use. Only
# "gsiftp://" and "file://" are supportet at the moment (mandatory).
# NOTE: Both pathes MUST be in the same file system for CRUD#movePublic() method.
DEFAULT_DATA_STORAGE_URI = <%= @storage_host %>
DEFAULT_DATA_STORAGE_URI_PUBLIC = <%= @storage_host_public %>

# Which DATA STORAGE authentication shall be used (e.g. JavaGAT)? Allowed is one
# of MYPROXY, PROXY, CERT, SLC or NONE. The needed values have to be set
# accordingly (mandatory).
DATA_STORAGE_AUTHENTICATION = NONE

# The stream buffer size, that shall be used for stream reading and writing.
# (default: 4096).
STREAM_BUFFER_SIZE = 8192
# The prefix of the URI created for TextGrid objects (mandatory).
URI_PREFIX = textgrid
# The suffix for the TextGrid metadata files stored TO THE GRID (mandatory).
METADATA_FILE_SUFFIX = .meta
# The suffix for the TextGrid rollback temporary files (mandatory).
ROLLBACK_FILE_SUFFIX = .rollback
# Shall the baseline encoded objects be validated by the AdaptorManager?
# (default: FALSE).
VALIDATE_BASELINE = FALSE

# The URI of the Tgextra service endpopint (mandatory).
AAI_SERVICE_URL = http://host.docker.internal/1.0/tgauth/tgextra.php
AAI_CRUD_SERVICE_URL =  http://host.docker.internal/1.0/tgauth/tgextra-crud.php
AAI_SPECIAL_SECRET = <%= scope.lookupvar('dhrep::services::tgauth::crud_secret') %>
AAI_CLIENT_STUB_TIMEOUT = 45000

# The RDF database namespace (mandatory).
RDFDB_NAMESPACE = http://textgrid.info/relation-ns
RDFDB_SERVICE_URL = http://triplestore:8080/openrdf-sesame/repositories/textgrid-nonpublic
RDFDB_USER = *
RDFDB_PASS = *
RDFDB_SERVICE_URL_PUBLIC =http://triplestore:8080/openrdf-sesame/repositories/textgrid-public
RDFDB_USER_PUBLIC = *
RDFDB_PASS_PUBLIC = *
SPARQL_NAMESPACE = http://www.w3.org/2005/sparql-results

# The Index DB namespapce, if XML.
IDXDB_NAMESPACE = urn:elasticsearch
IDXDB_SERVICE_URL = http://searchindex-main:9200/textgrid-nonpublic/metadata
IDXDB_SERVICE_PORT_LIST = 9200
IDXDB_USER = *
IDXDB_PASS = *
#IDXDB_SERVICE_URL_PUBLIC = http://searchindex-main:<%= scope.lookupvar('dhrep::params::elasticsearch_master_tcp_port') %>/textgrid-public/metadata
IDXDB_SERVICE_URL_PUBLIC = http://searchindex-main:9200/textgrid-public/metadata
IDXDB_USER_PUBLIC = *
IDXDB_PASS_PUBLIC = *
IDXDB_PAIRTREE_USAGE = FALSE

# The URI settings.
ID_SERVICE_URL = http://host.docker.internal:8080/nd/noidu_textgrid/
ID_SERVICE_USER = tgcrud
ID_SERVICE_PASS = <%= scope.lookupvar('dhrep::services::intern::tgnoid::crud_secret') %>
ID_AUTOMAGIC_UNLOCKING_TIME = 1800000

# Password for the #MOVEPUBLIC method.
PUBLISH_SECRET = <%= @publish_secret %>

# Password for the #REINDEXMETADATA method.
REINDEX_SECRET = <%= @reindex_secret %>

# Settings for the message producer.
USE_MESSAGING = <%= @use_messaging %>
# OLD SETTINGS! (prod and test)
INITIAL_MESSAGING_CONTEXT_FACTORY = org.jboss.naming.remote.client.InitialContextFactory
MESSAGING_PROVIDER_URL = http-remoting://wildfly:18080
MESSAGING_SECURITY_PRINCIPAL = tgcrud
MESSAGING_SECURITY_CREDENTIALS = secret
# NEW SETTINGS! (dev)
MESSAGING_SERVICE_URL = <%= @messaging_url %>
MESSAGING_EVENT_NAME = tgcrud-events
MESSAGING_USER = <%= @messaging_user %>
MESSAGING_PASS = <%= @messaging_password %>

# Settings for technical metadata extraction via FITS.
EXTRACT_TECHMD = <%= @extract_techmd %>
FITS_LOCATION = http://fits:8080/fits/
FITS_CLIENT_TIMEOUT = <%= @fits_client_timeout %>
