###
# #%L
# PID Service Wrapper Implementation
# %%
# Copyright (C) 2016 DARIAH-DE Consortium (https://de.dariah.eu),
# SUB Göttingen (http://www.sub.uni-goettingen.de)
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Lesser Public License for more details.
#
# You should have received a copy of the GNU General Lesser Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/lgpl-3.0.html>.
# #L%
###

# EPIC PID service settings (GWDG)
# TODO Remove handleservice settings as soon as new pid service is merged and deployed to develop!
handleservice.endpoint = <%= scope.lookupvar('dhrep::services::pid::endpoint') %>
handleservice.path = <%= scope.lookupvar('dhrep::services::pid::path') %>
handleservice.prefix = <%= scope.lookupvar('dhrep::services::pid::prefix') %>
handleservice.user = tgpid-test
handleservice.pw = <%= scope.lookupvar('dhrep::services::pid::passwd') %>

hs.prefix = <%= scope.lookupvar('dhrep::services::pid::prefix') %>
hs.user = <%= scope.lookupvar('dhrep::services::pid::user') %>
hs.index = <%= scope.lookupvar('dhrep::services::pid::index') %>
hs.password = <%= scope.lookupvar('dhrep::services::pid::passwd') %>

# Handle resolver (read-only)
# TODO Also remove resolver endpooint and path as soon as pid service is merged and deployed to develop!
resolver.endpoint = https://hdl.handle.net
resolver.path = /api/handles/

# More settings
pid.responsible = <%= scope.lookupvar('dhrep::services::pid::responsible') %>
pid.creator = <%= scope.lookupvar('dhrep::services::pid::creator') %>
pid.publisher = <%= scope.lookupvar('dhrep::services::pid::publisher') %>
pid.secret = <%= scope.lookupvar('dhrep::services::pid::secret') %>
tgauth.endpoint = http://host.docker.internal/1.0/tgauth/tgextra.php
log.location = /var/log/dhrep/tgpid/pid.log
log.level = INFO
service.endpoint = http://localhost/1.0/tgpid/
