# sesame config
sesame.endpoint = http://triplestore:8080/openrdf-sesame/repositories/textgrid-public

# elastic search config
elasticSearch.url = searchindex-main
elasticSearch.ports = 9200
<% if scope.lookupvar('dhrep::services::intern::elasticsearch::one_node_cluster') -%>
#elasticSearch.ports = <%= @config['elasticsearch']['main_http_port'] %>
<% else -%>
#elasticSearch.ports = <%= @config['elasticsearch']['main_http_port'] %>,<%= @config['elasticsearch']['workhorse_http_port'] %>
<% end -%>
elasticSearch.index = textgrid-public
elasticSearch.type = metadata
elasticSearch.itemLimit = 3000
elasticSearch.untouchedFieldExceptions = project.id, work.dateOfCreation.date, work.dateOfCreation.notBefore, work.dateOfCreation.notAfter

