# You may add here your
# server {
# ...
# }
# statements for each of your virtual hosts to this file

##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

server {
	# http://wiki.nginx.org/ServerBlockExample#A_Default_.22Catch_All.22_Server_Block
	#listen 80 default_server;
	#server_name _; # This is just an invalid value which will never trigger on a real hostname.
	#server_name_in_redirect off;

	#listen   80; ## listen for ipv4; this line is default and implied
	#listen   [::]:80 default_server ipv6only=on; ## listen for ipv6

	root <%= scope.lookupvar('::dhrep::nginx::nginx_root') %>;
	index index.html index.htm;
    add_header Referrer-Policy "no-referrer";
    add_header X-Clacks-Overhead "GNU John Dearheart";

    # Make site accessible from http://localhost/
	server_name localhost;
	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ /index.html;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
	}

	# Status of nginx
	location /nginx_status {
		# copied from http://blog.kovyrin.net/2006/04/29/monitoring-nginx-with-rrdtool/
		stub_status on;
		access_log off;
		allow 141.5.101.79; # Icinga2 monitoring.clarin.eu
		allow 127.0.0.1;     # Localhost as well :)
		deny all;
	}

	# include proxy rules
	include /etc/nginx/proxyconf/1.0.conf;
}

# HTTPS server
#
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2 ipv6only=on;

	server_name localhost;
    add_header Referrer-Policy "no-referrer";
    add_header X-Clacks-Overhead "GNU John Dearheart";
	root <%= scope.lookupvar('::dhrep::nginx::nginx_root') %>;
	index index.html index.htm;

	ssl on;
	ssl_certificate <%= @vhost_ssl_cert %>;
	ssl_certificate_key <%= @vhost_ssl_key %>;
#	ssl_session_timeout 5m;
	ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
	ssl_ciphers EECDH+AESGCM:EDH+AESGCM:EECDH:EDH:!MD5:!RC4:!LOW:!MEDIUM:!CAMELLIA:!ECDSA:!DES:!DSS:!3DES:!NULL;
	ssl_prefer_server_ciphers on;

<% if @dhparam_file -%>
  ssl_dhparam /etc/nginx/dhparam2048.pem;
  ssl_ecdh_curve secp384r1;
<% end -%>

	location /shibboleth { alias /opt/dariahshibboleth/sp-metadata.xml; }

	include /etc/nginx/proxyconf/1.0.conf;

  # 2022-05-19: Die Digitale Bibliothek von TextGrid zum Beschauen (kurzfristig)
	location /630b9a6e36398e266cfa2123aaca604173c3aa36/ {
		autoindex on;
  }

}
